@import url(https://fonts.bunny.net/css?family=roboto:300,400,500,600,700|roboto-slab:300,400,500,600,700);
@import 'tailwindcss';
@import 'vue3-toastify/dist/index.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

.slab {
    font-family: 'Roboto Slab', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

/** Estados de las solicitudes */
.aprobado { @apply bg-green-50 text-green-700 ring-1 ring-green-600/20 ring-inset dark:bg-green-900/30 dark:text-green-400 dark:ring-green-500/50; }

.rechazado { @apply bg-rose-50 text-rose-700 ring-1 ring-rose-600/20 ring-inset dark:bg-rose-900/30 dark:text-rose-400 dark:ring-rose-500/50; }

.pendiente { @apply bg-yellow-50 text-yellow-700 ring-1 ring-yellow-600/20 ring-inset dark:bg-yellow-900/30 dark:text-yellow-400 dark:ring-yellow-500/50; }

.Toastify__toast-body {
    font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    @apply font-light text-sm;
}
